<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="favicon.ico">
    <meta charset="UTF-8" lang="kr">
    <title>나의 일기장</title>
    <link rel="stylesheet" type="text/css" href="./css/all_fonts.css" />
    <link rel="stylesheet" type="text/css" href="./css/ccash_style.css" />
</head>
<body>
  <div id="wrap">
    <header>
      <a class="logo" href="#home"><img src="cas_logo.svg"></a>
      <nav>
        <ul class="nav-items">
          <li><a href="#contact">Interesting</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </nav>
    </header>

    <div id="content-wrap">
      <aside>
        <h1>글<sup>주</sup><sub>워</sub>모음</h1>
        <ul id="chapter">
        </ul>
      </aside>

      <section id="contents">
      <% for(i = 0; i < data.length; i++) { %>
        <article id=<%- data[i].title.replaceAll(' ', '_'); %>>
        <h2><%- data[i].title %></h2>
        <span class="date_written"><%- data[i].wrdate %></span>
        <!-- <span class="btn" id="edit" onclick="edit_post('<%- data[i].wrdate %>');">edit</span>
        <span class="btn" id="delete" onclick="delete_post('<%- data[i].wrdate %>');">delete</span> -->
        <span class="btn" id="edit"><a href="diary/write?wrdate=<%- data[i].wrdate %>">edit</a></span>
        <span class="btn" id="delete"><a href="diary/delete?wrdate=<%- data[i].wrdate %>">delete</a></span>
        <p><%- data[i].content %></p>
        </article>
      <% } %>
      </section>
    </div>      <!-- end of content-wrap -->
    <footer>
      Mail to:  <a href="mailto:ccash@daum.net">CAS </a>
    </footer>
  </div>        <!-- end of wrap   -->
</body>

<script>    /* 목록 자동 만들기 */
window.onload = function main() {
    let dom_chapter = document.getElementById("chapter");
    let articles = document.getElementsByTagName("article");
    for (var i=0; i<articles.length; i++) {
    let subject = articles[i].getElementsByTagName("h2");
    let new_chaper = document.createElement("li");
    new_chaper.innerHTML = "<a href='#"+articles[i].id+"' class='active'>"+subject[0].innerHTML+"</a>";
    dom_chapter.append(new_chaper);
    }
}
function edit_post(id) {
  console.log("edit post where wrdate="+id);
}
function delete_post(id) {
  console.log("delete post where wrdate="+id);
}

</script>
</html>
